
body{
    font-family: Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width:100%;
    
    
    
    
    

    
    
}

header{
    padding-bottom:13%;
}

#conteneur{
    display:flex;
    width:100%;
    height:100%;
    
}

.develo{
    text-decoration: underline
    #FFC107;
}


    h1{
        font-size: 3.5vw , 7.1vh;
    }

    h2{
        font-size: 1.7vw , 3.5vh ;
    }

.gauthier{
color:#FFC107;
}

article{
    
    width: 33.3%;
    height:auto;
    background-color:#FFC107;
    




}






  
.forexp{
    
    width:100%;
    display:flex;
    flex-wrap:wrap;
 justify-content: space-around;
}

.element:nth-child(1){

    width:35%;
  font-size:1.3vw 2.5 vh;

}
.element:nth-child(2){

  width:65%;
  font-size:1.3vw 2.5 vh;
}

.element:nth-child(3){
width:35%;
font-size:1.3vw 2.5vh;

}
.element:nth-child(4){
    width:65%; 
    font-size:1.3vw 2.5vh;
 
    
}

.element:nth-child(5){
    width:35%;
 font-size:1.3vw 2.5vh;

}

.element:nth-child(6){
    width:65%;
 font-size: 1.3vw 2.5vh;
}

.element:nth-child(7){
    width:35%;
font-size: 1.3vw ,2.5vh;

}

.element:nth-child(8){
    width:65%;
font-size:1.3vw , 2.5vh;

}
.element:nth-child(9){
    
    width:35%;
    font-size: 1.3vw ,2.5vh;

}  

 .element:nth-child(10){
    width:65%;
    font-size:1.3vw ,2.5vh;

 }

 
 


 .reco{
     
     width:100%;
     display:flex;
 flex-wrap:wrap;
 

 }
.element2:nth-child(1){ 
    width:50%;
    font-size:1.3vw , 2.5vh;
}

    



.element2:nth-child(2){
    font-size:1.3vw, 2.5vh;
    width:50%;
}   
    

       

.titre{
    
    
   color:#FFC107;
    background-color:#212121;
    text-align:center;
    font-size:2.8vw,5.7vh ;


    


    
}



main{
    
padding-top:5%;
    padding-left:5%;
  width:66.6%;
  height:100%;


}

.trait{
    border-top:0.21vw solid #FFC107;
    width:100%;


}








.traitdev{
    border-top:0.21vw solid #FFC107;
    width:8%;
}





.iconepro{
    color:#FFC107;
}

.bulle{
    color:#FFC107;
}

.bille{
    color:#FFC107;

}

.photo{
    padding-top: 10%;
height:auto;
text-align:center;




}
img{
    width: 60%;
    
}

aside{
    font-size:1.3vw , 2.5vh ;
    padding-left:20%;
    height:auto;
    

}

.moi{
    font-size: 1.3vw;
    padding-right:20%;
    padding-left:20%;
    padding-bottom:100%;
    
}

.lolo{
    font-size:1.3vw;
    padding-left:15%;
    padding-top:10%;
    padding-bottom: 10%;
    font-size:2.9vw;
    


} 


    



.fa-table-tennis {

    display:inline-block;
    width:13%;
    padding:4%;
    border-radius:50%;
    border: 2px solid black;
    
}

.fa-swimmer{
    display:inline-block;
    padding:4%;
    padding-bottom: 4%;
     padding-right:4%;
     padding-left: 3%;
     padding-top:4%;
    width:13%;
    border-radius:50%;
    border: 2px solid black;


}

.fa-biking{
    display: inline-block;
    width:13%;
    padding-right:4%;
    padding-bottom:4%;
    padding-top: 4%;
    padding-left:3%;
    border-radius:50%;
    border: 2px solid black;

}


.petittitre{
    font-size: 1.3vw , 2.5vh;
font-weight: bold;
}

.soustitre{
    padding-top: 3%;
    font-size:2.8vw, 5.7vh;
    font-weight: bold;

}


@media screen  and (max-width:600px) {
.soustitre{font-size:2.8vw,5.7vh;
    padding-top:0; }
    .trait{margin:0;}
    #conteneur{display:flex;
justify-content: space-around;}
aside{order:3}
main{order:1;}
.photo{order:2;}
    .moi{display:none}
    .titre{display:none;}
    .lolo{display:none;}
    

   
    .element:nth-child(1){

    width:auto;
      font-size:1.3vw, 2.5vh;
    
    }
    .element:nth-child(2){
    width:100%;
    
      font-size:1.3vw, 2.5vh;
    }
    
    .element:nth-child(3){
    width:auto;
    font-size:1.3vw,2.5vh
    
    }
    .element:nth-child(4){
        width:auto;
        font-size:1.3vw,2.5vh
     
        
    }
    
    .element:nth-child(5){
     width:auto;
     font-size:1.3vw,2.5vh
    
    }
    
    .element:nth-child(6){
    width:100%;
     font-size: 1.3vw,2.5vh
    }
    
    .element:nth-child(7){
    width:auto;
    font-size: 1.3vw,2.5vh
    
    }
    
    .element:nth-child(8){
        width:auto;
    font-size:1.3vw,2.5vh
    
    }
    .element:nth-child(9){
        
        width:auto;
        font-size: 1.3vw,2.5vh
    
    }  
    
     .element:nth-child(10){
        width:100%;
        font-size:1.3vw,2.5vh
    
     }
    

   
}



