



body{
    font-family: Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width:100%;
    margin:0;
    
    
    
    
    
    

    
    
}

header{
    padding-bottom:13%;
}

#conteneur{
    display:flex;
    width:100%;
    height:100%;
    
}

.develo{
    text-decoration: underline
    #FFC107}

    

.gauthier{
color:#FFC107;
}

article{
    
    width: 33.3%;
    height:auto;
    background-color:#FFC107;
    




}





  
.forexp{
    
    width:100%;
    display:flex;
    flex-wrap:wrap;
 justify-content: space-around;
}

.element:nth-child(1){

    width:35%;
  

}
.element:nth-child(2){

  width:65%;
  
}

.element:nth-child(3){
width:35%;


}
.element:nth-child(4){
    width:65%; 
    
 
    
}

.element:nth-child(5){
    width:35%;
 

}

.element:nth-child(6){
    width:65%;
 
}

.element:nth-child(7){
    width:35%;


}

.element:nth-child(8){
    width:65%;


}
.element:nth-child(9){
    
    width:35%;
    

}  

 .element:nth-child(10){
    width:65%;
    

 }

 
 


 .reco{
     
     width:100%;
     display:flex;
 flex-wrap:wrap;
 

 }
.element2:nth-child(1){ 
    width:50%;
    
}

    



.element2:nth-child(2){
    
    width:50%;
}   
    

       

.titre{
    
    
   color:#FFC107;
    background-color:#212121;
    text-align:center;
    


    


    
}



main{
    
padding-top:5%;
    padding-left:5%;
  width:66.6%;
  height:100%;


}

.trait{
    border-top:0.21vw solid #FFC107;
    width:100%;


}








.traitdev{
    border-top:0.21vw solid #FFC107;
    width:8%;
}





.iconepro{
    color:#FFC107;
}

.bulle{
    color:#FFC107;
}

.bille{
    color:#FFC107;

}


   .photo{
       padding-left: 10%;
       padding-top:5%;
   }


.prof1{
      width:80%;
      border:solid 5px #FFCA28 ;
      border-radius:50%;
}
 

   


aside{
    
    
    padding-left:20%;
    height:auto;
    

}

.moi{
    
    padding-right:20%;
    padding-left:20%;
    padding-bottom:100%;
    
}

.lolo{
    
    padding-left:15%;
    padding-top:10%;
    padding-bottom: 10%;
    font-size:2.9vw;
    


} 


    



.fa-table-tennis {

    display:inline-block;
    width:13%;
    padding:4%;
    border-radius:50%;
    border: 2px solid black;
    
}

.fa-swimmer{
    display:inline-block;
    padding:4%;
    padding-bottom: 4%;
     padding-right:4%;
     padding-left: 3%;
     padding-top:4%;
    width:13%;
    border-radius:50%;
    border: 2px solid black;


}

.fa-biking{
    display: inline-block;
    width:13%;
    padding-right:4%;
    padding-bottom:4%;
    padding-top: 4%;
    padding-left:3%;
    border-radius:50%;
    border: 2px solid black;

}


.petittitre{
    
font-weight: bold;
}

.soustitre{
    padding-top: 3%;

    font-weight: bold;

    
}
.headerresponsive{display:none;
text-align:center;
}
.titreresponsive{background-color:black;
    text-align:center;
    color:#FFC107;
    display:none;
    margin:0;

}
.profil2{
    display:none;
}

.responsive{display:none;
background-color: #FFC107;}

.moiresponsive{display:none;
background-color:#FFC107;}

.loloresponsive{display:none;
background-color:#FFC107;}

/*  RESPONSIVE MOBILE*/

@media screen  and (max-width:740px) {
header{display:inline-block;
    text-align:center;
    width:100%;

}
.profil2{display:inline-block;
   
}
.soustitre{
    padding-top:0;
text-align:center; }
    .trait{margin:0;}
aside{display:none;}
    .moi{display:none}
    .titre{display:none;}
    .lolo{display:none;}
    .titreresponsive{display:block;}
    .responsive{display:block;
    padding-top:2%;}
  article{display:none;}
    .photo{display:none;}
    .moiresponsive{display:block;}
    .loloresponsive{display:block;
    padding-top:5%;
padding-bottom:5%;}
main{
    padding-left:0;
    width:100%;
}
   body{margin:0;
width:100%}

footer{text-align:center;}

.reco{justify-content: center;}


.fa-table-tennis {

    display:inline-block;
    width:auto;
    padding:4%;
    border-radius:50%;
    border: 2px solid black;
    font-size:30px;
    
}

.fa-swimmer{
    display:inline-block;
    padding:4%;
    padding-bottom: 4%;
     padding-right:4%;
     padding-left: 3%;
     padding-top:4%;
    width:auto;
    border-radius:50%;
    border: 2px solid black;
   font-size: 30px;

}

.fa-biking{
    display: inline-block;
    width:auto;
    padding-right:4%;
    padding-bottom:4%;
    padding-top: 4%;
    padding-left:3%;
    border-radius:50%;
    border: 2px solid black;
    font-size: 30px;
}
    


    

   
    .element:nth-child(1){

    width:auto;
      
    
    }
    .element:nth-child(2){
    width:100%;
    text-align:center;
      
    }
    
    .element:nth-child(3){
    text-align: center;
    
    width:100%

    
    }
    .element:nth-child(4){
        width:auto;
    
        text-align:center;
        width:100%;
     
        
    }
    
    .element:nth-child(5){
     width:auto;
    
    
    }
    
    .element:nth-child(6){
    width:100%;
     
     text-align:center;
    }
    
    .element:nth-child(7){
    width:auto;
    
    
    }
    
    .element:nth-child(8){
        width:auto;
    
    text-align:center;
    
    }
    .element:nth-child(9){
        
        width:auto;
        
    
    }  
    
     .element:nth-child(10){
        width:100%;
        
        text-align:center;
    
     }

     .element2:nth-child(1){
         width:55%;
         text-align:center;
     }
     .element2:nth-child(2){
         width:auto;
         text-align:center;
     }
    }


    /* RESPONSIVE TABLETTE*/
@media screen and (min-width:740px) and (max-width:850px){
    
    .moi{

        padding-bottom:180%;

    }

}

